<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <h2><% flash[:notice] || flash[:error] %></h2>
  <div class="btn group">
  <%= link_to 'Log Out', logout_path, method: :delete, class: "btn btn-primary mb1 bg-teal" %>
  <% unless current_user.token %>
    <%= link_to 'Connect to Github', "/auth/github", class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  </div>
  <h4><%= flash[:notice] %></h4>
  <% if current_user.active %>
    <h4>Status: Active</h4>
  <% end %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section class="bookmarks">
    <h1>Bookmarked Segments</h1>
    <% @bookmarks.bookmarks.each do |bookmark| %>
      <%= bookmark.title %>
        <% bookmark.videos.each do | video |%>
          <li>Title: <%= video.title %></li>
          <li>Position: <%= video.position %></li>
        <% end %>
      <%end %>
  </section>

  <section>
    <% if @user %>
      <h1> GitHub Section </h1>
      <li> Top <%= @user.repos.count  %> Repos</li>
      <div class="top5repos">
        <% @user.repos.each do |repo| %>
          <div id=<%= repo.name %>>
            <a href=<%= repo.url %>><%= repo.name %></a>
          </div>
        <% end %>
      </div>
        <li> Followers </li>
        <div class="followers btn group">
          <% @user.followers.each do |follower| %>
            <div id="followers-<%= follower.uid %>">
                <%= link_to follower.name, follower.url, class: "btn btn-primary mb1 bg-teal" %>
              <% if follower.is_user? && !@user.current_user.is_friend?(follower.uid)%>
                <%= button_to "Add as Friend", friendships_path(friend_id: follower.uid), method: :post %>
              <% end %>
            </div>
          <% end %>
        </div>
        <li> Following </li>
        <div class="following btn group">
          <% @user.following.each do |follow| %>
            <div id="following-<%= follow.uid %>">
              <%= link_to follow.name, follow.url, class: "btn btn-primary mb1 bg-teal" %>
              <% if follow.is_user? && !@user.current_user.is_friend?(follow.uid) %>
                <%= button_to "Add as Friend", friendships_path(follow.uid), method: :post %>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %>
  </section>
</section>
